{% extends "partials/_base.html" %}
{% load static %} 
{% load i18n %}

{% block title %} {% trans 'Emailə kod göndər' %} {% endblock %}

{% block content %}

    <main>

        <div class="breadcumb-area d-flex align-items-center"
            style="background-image: url({% static 'assets/images/inner/breadcumb.jpg' %});">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="breacumb-content">
                            <div class="breadcum-title">
                                <h4>{% trans "Şifrənin bərpası" %}</h4>
                            </div>
                            <ul>
                                <li><a href="{% url 'base:index' %}">{% trans "Ana səhifə" %}</a></li>
                                <li>/</li>
                                <li>{% trans "Şifrənin bərpası" %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="after-none contact-bg pt-30 pb-140 p-relative fix">
            <div class="container">

                <div class="row justify-content-center ">

                    <div class="col-lg-5">
                        <div class="contact-bg02">
                            <div class="center-align text-center wow fadeInDown animated" data-animation="fadeInDown"
                                data-delay=".4s">
                                <h2>{% trans "Kod göndər" %}</h2>
                            </div>
                            <form action="#" class="register-form mt-20">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="contact-field p-relative c-subject ">
                                            <input type="text" id="email" name="email" placeholder="{% trans 'Email' %}">
                                        </div>
                                    </div>

                                    <div class="row d-flex align-items-center form-bottom">
                                        <div class="col-lg-5">
                                            <div class="slider-btn">
                                                <button class="" type="submit"><span>{% trans 'Göndər' %}</span></button>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </section>

    </main>

{% endblock %}